.titulo-slider{
	color: rgb(255, 31, 31);
	font-size: 80px;
	filter: drop-shadow(5px 5px 2px rgb(255, 255, 255));
}

.subtitulo-slider{
	color: rgb(255, 198, 43);
	font-size: 30px;
	filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
}