.videoteca-fondo {
    padding: 4rem;
    background-image: url("/images/fondo-gris.jpg");
         
  }

.videoteca-container {
   
     /*z-index: 0;  Para posicionar el objeto delante o detrás de otro elemento*/
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 60%;

    display: flex;
    flex-direction: column;
    background: black;
    
     
      
}


.videoteca-container .imagen-director {
    height: 400px;
    width: 400px;
}
.videoteca-titulo {
    color: rgb(4, 4, 139);
    font-size: 40px;
} 