:root {
--primary: rgba(255, 255, 255, 0.719);
}

.btn {
  padding: 8px 20px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  /* filter: drop-shadow(2px 2px 1px black); */

}

.btn--primary {
  background-color: var(--primary);
  color: rgb(0, 0, 0);
  border: 1px solid var(--primary);
}

.boton-sistema {
    /* background-color: transparent; */
    background-color: rgb(245, 48, 48);
    color: rgb(255, 255, 255);
    /* padding: 8px 20px; */
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fcb229;
    transition: 250ms;
  }