
.portada-container {
  background: url('../../asset/images/colegio.jpg') center center/cover repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;


 

}

.portada-container > h1 {
  color: rgb(255, 0, 0);
  font-size: 100px;
  margin-top: -100px;
  filter: drop-shadow(5px 5px 2px rgb(255, 255, 255));
}

.portada-container > h1:hover {
  transform: scale(1.1);
}

.portada-container > p:hover {
  transform: scale(1.1);
}

.portada-container > p {
  margin-top: 8px;
  color: rgb(221, 151, 1);
  font-size: 32px;
  font-weight: 20px;
  border-bottom: 2px solid white;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
}

.portada-btns {
  margin-top: 32px;
}

.portada-btns .btn {
  margin: 15px;
}

.portada-btns .btn:hover {
  transform: scale(1.2);
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .portada-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .portada-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .portada-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
