

.mapa-fondo {
    padding: 4rem;
    background-image: url("../../asset/images/fondo-gris.jpg");

    align-items: center;
    text-align: center;
    justify-content: center;
    
  }

.mapa-contenedor {
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 100px;
    
  
}

.mapa-google > iframe{
    
    border:10px double black;
    height: 550px;
    width: 1000px;      
}


.mapa-imagen > img{
    height: 400px;
    width: 400px;
    margin-top: 160px;
    
}

 .mapa-titulo {
    color: rgb(4, 4, 139);
    font-size: 40px;
} 

.mapa-subtitulo {
    color: rgb(219, 4, 4);
    font-size: 20px;
} 