.footer-container {
  /*background: rgba(10,10,107,.5);  */
  background: linear-gradient(180deg, rgb(202, 2, 2), rgb(0, 0, 0)); 
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    margin-bottom: 1px;
    padding: 1px;
    color: #fff;
  }
  
  .footer-subscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
  }
  
  .footer-subscription-heading { /* Facebook */
    margin-bottom: 1px;
    font-size: 24px;
  }
  
  .footer-subscription-text { /* Correo */
    margin-bottom: 1px;
    font-size: 20px;
  }
  
  
  
  .footer-links { /* Caja Principal de los links*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
    
  }
  
  .footer-link-wrapper { /* 2 Subcaja de los items */
    display: flex;
    gap: 40px;
    
  }
  
  .footer-link-items { /* 4 Items */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    
   
  }
  
  .subtitulo { /* Encabezados de Items*/
    margin-bottom: 1px;
    font-size: 20px;
  }
  
  .footer-link-items > h2 {
    color: #fff;
    
  }
  
  .footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }

  .footer-link-items p {
    color: #fff;
    margin-bottom: 0.5rem;
  }
  
  .footer-link-items a:hover {
    color: #ff9d1d;
    transition: 0.3s ease-out;
  }
  
  .footer-email-form h2 {
    margin-bottom: 2rem;
  }
  
  .footer-input::placeholder {
    color: #d8d8d8;
  }
  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 1px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
  }
  
  .website-rights {
    color: #fff;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 960px){
    .footer-links {
      width: 80%;
    }

    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }

    .footer-subscription > p {
      
      font-size: 15px;
  }
  }

  @media screen and (max-width: 396px) {
    .footer-links {
      padding-top: 1rem;
      font-size: 10px;
      gap: 20px;
    }
  
    .footer-input {
      width: 80%;
    }
  
    .btn {
      width: 80%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
      font-size: 15px;
      gap: 20px;
    }
  
    .social-media-wrap {
      flex-direction: column;
      font-size: 10px;
      
    }

    .footer-subscription > p {
      
        font-size: 10px;
    }
    
  }
  