
  .header {
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(202, 2, 2));
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: static;
    top: 0;
    z-index: 999;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    
      
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1850px;
    gap: 50px;
    
  }

  .logo1 {
    width: 100px;
    height: 100px;
    
  }

  .logo2 {
    width: 100px;
    height: 100px;
        
  }
  
  .header-logo {
    color: rgb(255, 255, 255);
    justify-self: start;
    margin-left:10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 2px 1px black);
    width: 1400px;
    gap: 30px;
  }

  .header-container > i{
    color: white;
  }

  .header-logo:hover{
    color: rgb(255, 196, 0);
  }
  
  
  
  

  
  

 

  
 
  
  @media screen and (max-width: 1920px) {

    .header-container {
      
      
     
      gap: 10px;
      padding: 5px;
      
        
    }

    .header-logo {
     
      font-size: 2.5rem;
      padding: 5px;
      
    }

   

  } 
 
  @media screen and (max-width: 1600px) {

    .header-container {
      
      
      max-width: 1400px;
      gap: 10px;
      padding: 5px;
      
        
    }

    .header-logo {
     
      font-size: 2.5rem;
      padding: 5px;
      
    }
  } 

  @media screen and (max-width: 1440px) {

    .header-container {
      
      
      max-width: 1200px;
      gap: 10px;
      padding: 5px;
      
        
    }

    .header-logo {
     
      font-size: 2.5rem;
      padding: 5px;
      
    }
  } 

  @media screen and (max-width: 1366px) {

    .header-container {
      
      
      max-width: 900px;
      gap: 10px;
      padding: 5px;
      
        
    }

    .header-logo {
     
      font-size: 2.5rem;
      padding: 5px;
      
    }
  } 
  

  @media screen and (max-width: 960px) {

    .header-container {
      
      
      max-width: 700px;
      gap: 10px;
      padding: 5px;
      
        
    }

    .header-logo {
     
      font-size: 2.5rem;
      padding: 5px;
      
    }
  }  

  @media screen and (max-width: 720px) {

    .header-container {
      
      
      max-width: 500px;
      gap: 10px;
      padding: 5px;
      
        
    }

    .header-logo {
     
      font-size: 2.5rem;
      padding: 5px;
      
    }
  }  


  @media screen and (max-width: 500px) {

    .header-container {
      
      
      max-width: 430px;
      gap: 10px;
      padding: 5px;
      
        
    }

    .header-logo {
     
      font-size: 2rem;
      padding: 5px;
      
    }
  }  


  
  @media screen and (max-width: 360px) {

    .header-container {
     
      max-width: 300px;
      gap: 5px;
      padding: 5px;
      
        
    }

    .header-logo {
     
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
            
    }

    .logo1 {
      width: 70px;
      height: 70px;
      
    }
  
    .logo2 {
      width: 70px;
      height: 70px;
          
    }
  }  

