.container-fondo {
    padding: 4rem;
    background-image: url("/images/fondo-gris.jpg");
         
  }

.container-bienvenidos {
   
     /*z-index: 0;  Para posicionar el objeto delante o detrás de otro elemento*/
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
     color: blue;
                
}


.container-bienvenidos .container-director {
    height: 400px;
    width: 400px;
}
.container-titulo {
    color: rgb(4, 4, 139);
    font-size: 40px;
} 


